In [ ]:
# -*- coding: utf-8 -*-
"""
Created on Tue Jul  7 20:30:42 2020

@author: marcw
"""

import requests
import json
import pandas as pd 
import math
from sklearn import mixture

In [3]:


baseAPIHead = "https://api.census.gov/data/2018/acs/acs1/profile?get=NAME,"
baseAPITail = "&for=state:*&key=e6e686c049dba8c5672e13edb673ee357d9d7295"

dfVariables = pd.read_csv("acsVariables.csv")


selectedRows = dfVariables.loc[dfVariables['Include'] == "X"]["Name"]
selectedRows = selectedRows.reset_index()
nSelected = selectedRows.count()[0]
nGroups = math.ceil(nSelected/48)#1 + (nSelected - nSelected % 48)/48


for i in range(nGroups):
    if i == (nGroups - 1):
        endNum = nSelected
    else:
        endNum = (i+1)*48
        
    groupRows = selectedRows.loc[range(i*48,endNum)]["Name"]
    #getString = str(groupRows[0])
    #groupRows = groupRows.reset_index()
    #for j in range(1,groupRows.count()[0]):
    getParameters =",".join(groupRows)
    
    apiCall = baseAPIHead + getParameters + baseAPITail
    response = requests.get(apiCall)
    data = response.json()
    dfTemp = pd.DataFrame(data[1::])
    dfTemp.columns = data[0]
    dfTemp = dfTemp.sort_values(by=["NAME"])
    dfTemp = dfTemp.reset_index()
    if i == 0:
        dfTemp = dfTemp.drop(["index"],axis=1)
        df = dfTemp
    else:
        dfTemp = dfTemp.drop(["state","NAME","index"],axis=1)
        df = pd.concat([df, dfTemp], axis=1) #Temp.join(df,on="NAME",how="outer")#

NAME DP02_0002PE DP02_0003PE DP02_0004PE DP02_0005PE DP02_0006PE  \
0     Alabama        65.5        25.1        47.4        16.4         4.2
1      Alaska        65.8        30.1        50.2        21.8         6.1
2     Arizona        65.5        26.8        47.7        17.6         5.8
3    Arkansas        66.5        27.5        47.9        17.4         5.0
4  California        68.3        29.3        49.4        20.8         6.1

  DP02_0007PE DP02_0008PE DP02_0009PE DP02_0010PE  ... DP05_0034PE  \
0         1.9        13.9         6.9        34.5  ...        97.9
1         3.0         9.5         5.4        34.2  ...        91.6
2         3.0        12.0         6.2        34.5  ...        96.0
3         2.4        13.7         7.7        33.5  ...        97.1
4         2.5        12.9         6.0        31.7  ...        94.9

  DP05_0035PE DP05_0037PE DP05_0038PE DP05_0039PE DP05_0044PE DP05_0052PE  \
0         2.1        67.7        26.7         0.5         1.3         0.0
1         8.4        64.4         3.4        15.1         6.3         1.1
2         4.0        78.0         4.7         4.6         3.3         0.2
3         2.9        76.5        15.2         0.7         1.6         0.3
4         5.1        59.5         5.8         0.8        14.7         0.4

  DP05_0057PE DP05_0071PE DP05_0087PE
0         1.7         4.3     3712212
1         1.3         7.2      532244
2         5.2        31.6     5035771
3         2.8         7.6     2224112
4        13.8        39.3    25838830

[5 rows x 173 columns]

In [15]:
df['NAME']

0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39             Puerto Rico
40            Rhode Island
41          South Carolina
42            South Dakota
43               Tennessee
44                   Texas
45                    Utah
46                 Vermont
47                Virginia
48              Washington
49           West Virginia
50               Wisconsin
51                 Wyoming
Name: NAME, dtype: object

In [16]:
df.describe()

,NAME,DP02_0002PE,DP02_0003PE,DP02_0004PE,DP02_0005PE,DP02_0006PE,DP02_0007PE,DP02_0008PE,DP02_0009PE,DP02_0010PE,...,DP05_0034PE,DP05_0035PE,DP05_0037PE,DP05_0038PE,DP05_0039PE,DP05_0044PE,DP05_0052PE,DP05_0057PE,DP05_0071PE,DP05_0087PE
count,52,51,51,51,51,51,51,51,51,51,...,52,52,52,52,52,52,52,52,52,52
unique,52,39,39,39,43,19,13,32,31,39,...,28,28,49,48,22,40,10,37,45,52
top,Oregon,62.7,25.7,47.9,18.0,4.5,2.3,9.5,6.4,37.3,...,97.3,2.7,84.0,4.7,0.3,1.6,0.1,2.4,3.9,2075166
freq,1,3,5,3,3,8,10,4,4,3,...,6,6,2,2,9,4,21,3,4,1